//colors

$Blue: hsl(223, 87%, 63%);
$Pale-Blue: hsl(223, 100%, 88%);
$Light-Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very-Dark-Blue: hsl(209, 33%, 12%);
$White:#fff;

//ui

$background-body:$White;
$background-button:$Blue;
$color-header-accent:$Very-Dark-Blue;
$color-header:$Gray;